<html>
    <head>
        <title>Quiz Time!</title>
    </head>
    <body>
        <h1>Quiz Time!</h1>
        <div id="id_result">
            <div class="result_text">{{ result }}</div>
        </div>
        <form id="id_question" method="POST">
            <div class="question_number">Question Number: {{ question_number }}</div>
            <div class="question_text">{{ question_text }}</div>
            {% for answer in answers %}
            <input type="radio" class="answer" name="answer" value={{answer}}>{{answer}}<br>
            {% endfor %}
            <input type="submit" class="submit">

            {% csrf_token %}
        </form>
    </body>
</html>